<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; img-src 'self' data:">

  <title>Paramètres</title>
  <link rel="stylesheet" href="../node_modules/uikit/dist/css/uikit.min.css">
  <script src="../node_modules/uikit/dist/js/uikit.min.js"></script>

  <style>
    html, body {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    body {
      background: linear-gradient(90deg, #76afa6 50%, #e7aa94 50%);
    }
  </style>
</head>
<body>
  <div class="uk-container uk-container-large uk-height-1-1 uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-card uk-card-default uk-background-default uk-border-rounded uk-box-shadow-medium uk-width-large">
      <div class="uk-card-header">
        <h1 class="uk-card-title uk-text-center">Paramètres</h1>
      </div>

      <div class="uk-card-body">
        <form class="uk-form-stacked" id="settings-form" action="#">
          <div class="uk-margin">
            <label class="uk-form-label" for="user-id">Identifiant utilisateur</label>
            <div class="uk-form-controls">
              <input id="user-id" class="uk-input" type="text" placeholder="Ex: 2529">
            </div>
          </div>

          <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <div class="uk-form-controls">
              <label>
                <input id="user-id-auto-update" class="uk-checkbox" type="checkbox">
                Synchronisation de l'identifiant
              </label>
              <div class="uk-text-meta">
                Si cette case est cochée, votre identifiant sera automatiquement détecté et mis à jour lorsque vous naviguerez dans l'application.
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-form-controls">
              <label class="uk-form-label" for="start-page">Démarrer l'application sur</label>

              <select id="start-page" class="uk-select">
                <option value="home">Accueil</option>
                <option value="planning">Planning</option>
                <option value="timesheet-month">Feuille horaire mensuelle *</option>
                <option value="leave-balance">Solde congés *</option>
                <option value="leave-calendar">Calendrier congés *</option>
              </select>
            </div>
            <p class="uk-text-meta">* Nécessite votre identifiant utilisateur.</p>
          </div>
        </form>
      </div>

      <div class="uk-card-footer uk-text-center">
        <input type="submit" form="settings-form" class="uk-button uk-button-primary" value="Sauvegarder">
        <a href="./index.html" class="uk-button uk-button-default">Annuler</a>
      </div>
    </div>
  </div>

  <script>
    const settingsForm = document.getElementById('settings-form')
    const userInput = document.getElementById('user-id')
    const userAutoUpdateInput = document.getElementById('user-id-auto-update')
    const startPage = document.getElementById('start-page')

    userAutoUpdateInput.checked = window.store.get('userIdAutoUpdate') !== false
    userInput.value = window.store.get('userId') || ''
    startPage.value = window.store.get('startPage') || 'home'

    settingsForm.addEventListener('submit', event => {
      event.preventDefault()
      window.store.set('userIdAutoUpdate', userAutoUpdateInput.checked)
      window.store.set('userId', userInput.value)
      window.store.set('startPage', startPage.value)
      window.location.href = './index.html'
    })
  </script>
</body>
</html>