<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; img-src 'self' data:">

  <title>Paramètres</title>
  <link rel="stylesheet" href="../node_modules/uikit/dist/css/uikit.min.css">
  <script src="../node_modules/uikit/dist/js/uikit.min.js"></script>

  <style>
    html, body {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    body {
      background: linear-gradient(90deg, #76afa6 50%, #e7aa94 50%);
    }
  </style>
</head>
<body>
  <div class="uk-container uk-container-large uk-height-1-1 uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-card uk-card-default uk-background-default uk-border-rounded uk-box-shadow-medium uk-width-large">
      <div class="uk-card-header">
        <h1 class="uk-card-title uk-text-center">Paramètres</h1>
      </div>

      <div class="uk-card-body">
        <form id="settings-form" action="#">
          <div class="uk-margin">
            <label class="uk-form-label" for="unit-code">Code unité <span class="uk-text-muted">(https://<strong>ups76-1</strong>.agateb.cnrs.fr)</span></label>
            <div class="uk-form-controls">
              <input id="unit-code" class="uk-input" type="text" placeholder="Ex: ups76-1" autofocus>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="user-id">Identifiant utilisateur <span class="uk-text-muted">(/index.php?user_id=<strong>2529</strong>)</span></label>
            <div class="uk-form-controls">
              <input id="user-id" class="uk-input" type="text" placeholder="Ex: 2529">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="start-page">Démarrer l'application sur</label>
            <select id="start-page" class="uk-select">
              <option value="home">Accueil</option>
              <option value="agate">Agate congés</option>
              <option value="agate-badge">Agate badge</option>
              <option value="recap">Agate badge - feuille mensuelle *</option>
            </select>
            <p class="uk-text-meta">* Le démarrage sur la feuille mensuelle nécessite votre identifiant utilisateur.</p>
          </div>
        </form>
      </div>

      <div class="uk-card-footer uk-text-center">
        <input type="submit" form="settings-form" class="uk-button uk-button-primary" value="Sauvegarder">
        <a href="./index.html" class="uk-button uk-button-default">Annuler</a>
      </div>
    </div>
  </div>

  <script>
    const settingsForm = document.getElementById('settings-form')
    const unitInput    = document.getElementById('unit-code')
    const userInput    = document.getElementById('user-id')
    const startPage    = document.getElementById('start-page')

    unitInput.value = window.store.get('unitCode') || ''
    userInput.value = window.store.get('userId') || ''
    startPage.value = window.store.get('startPage') || 'home'

    settingsForm.addEventListener('submit', event => {
      event.preventDefault()
      window.store.set('unitCode', unitInput.value.toLowerCase())
      window.store.set('userId', userInput.value)
      window.store.set('startPage', startPage.value)
      window.location.href = './index.html'
    })
  </script>
</body>
</html>