<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; img-src 'self' data:">

  <title>Paramètres</title>
  <link rel="stylesheet" href="../node_modules/uikit/dist/css/uikit.min.css">
  <script src="../node_modules/uikit/dist/js/uikit.min.js"></script>

  <style>
    html, body {
      height: 100%;
      padding: 0;
      margin: 0;
    }
  </style>
</head>
<body class="uk-light uk-background-secondary">
  <div class="uk-container uk-container-small uk-height-1-1">
    <div class="uk-grid-small uk-flex-middle uk-margin-top" uk-grid>
      <div class="uk-width-auto">
        <img class="uk-border-rounded" src="../img/icon-64x64.png" alt="logo">
      </div>
      <div class="uk-width-auto">
          <h3 class="uk-card-title uk-margin-remove-bottom" id="app-name"></h3>
          <p class="uk-text-meta uk-margin-remove-top">Version <span id="app-version"></span></p>
      </div>
    </div>

    <table class="uk-table uk-table-small uk-table-divider">
      <tbody>
        <tr><td>Electron</td><td id="electron-version"></td></tr>
        <tr><td>Chrome</td><td id="chrome-version"></td></tr>
        <tr><td>Node.js</td><td id="node-version"></td></tr>
        <tr><td>V8</td><td id="v8-version"></td></tr>
      </tbody>
  </table>
  </div>

  <script>
    async function getAppInfo () {
      document.getElementById('app-name').textContent = await window.app.getName()
      document.getElementById('app-version').textContent = await window.app.getVersion()
    }

    getAppInfo().catch(err => {
      console.error(err);
      console.error('Failed to get app info');
    });

    document.getElementById('electron-version').textContent = window.app.getElectronVersion();
    document.getElementById('chrome-version').textContent = window.app.getChromeVersion();
    document.getElementById('node-version').textContent = window.app.getNodeVersion();
    document.getElementById('v8-version').textContent = window.app.getV8Version();
  </script>
</body>
</html>